{% extends "events/base.html" %}
{% load static %}
{% block content %}

<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <p class="lead text-muted">Hey there! I'm excited to see you here! You can write me right now!</p>
      <p>
        <a href="mailto:k.volkov.n@gmail.com" class="btn btn-primary my-2">Mail me</a>
      </p>

      <img src="{% static 'me.jpg' %}" height=500 width=500 class="img-fluid">
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
      	{% for event in events.all %}
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="card-img-top" src="{{ event.event_image.url }}"/>
            <div class="card-body">
              <p class="card-text">{{event.event_text}}</p>
            </div>
          </div>
        </div>
        {% endfor%}
       </div>
    </div>
</div>
</main>
{% endblock %}